:root{
    --primary-color: black;
    --secondary-color: #EB552A;
    --accent1-color: rgb(255, 255, 255);
    --accent2-color: #965D4D;
    --heading-font: 'Times New Roman', Times, sans-serif;
    --body-font: Arial, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer{
    width: 840px;
    margin: auto;
}

h1, h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article{
    margin: 16px;
    padding: 8px;
}

.socialmedia a{
    text-decoration: none;
}

.hero{
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

h1{
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 14px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

article{
    position: absolute;
    top: 305px;
    width: 100%;
    margin: 0px;
    padding-top: 10px;
    opacity: 0.8;
    background-color: var(--primary-color);
}

.hero article img{
    margin: 0 10px 0 0;
    float: right;
    width: 150px;
}